.container {
	margin-top: 6rem;
	display: inline-block;
	width: 4rem;
	height: 3rem;
	position: relative;
	cursor: pointer;
}

.line1,
.line2,
.line3 {
	position: absolute;
	height: 15%;
	background: var(--color-primary);
	border-radius: 0.5rem;
}

.line1 {
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.line2 {
	top: 50%;
	width: 50%;
	transform: rotate(-45deg) translate(20%, -170%);
}
.line3 {
	top: 50%;
	width: 50%;
	transform: rotate(45deg) translate(0%, 100%);
}
